* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Lato", sans-serif;
}

.button {
  min-width: 8rem;
  min-height: 2.2rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem;
  margin-top: 0.7rem;
  border: none;
  cursor: pointer;
  transition: 0.5s ease all;
  font-weight: 500;
}

.button:hover {
  transform: scale(1.1);
}

.green {
  background-color: #4bf190;
}

.green:hover {
  background-color: #b7ffb7;
}

.lightblue {
  background-color: #a0dbeb;
}

.lightblue:hover {
  background-color: #cef4ff;
}

.red {
  background-color: #eba0a0;
}

.red:hover {
  background-color: #ffd1d1;
}

.orange {
  background-color: #ffce92;
}

.orange:hover {
  background-color: #ffe2be;
}

.center {
  text-align: center;
}

.deleteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.6rem;
  padding: 1.1rem;
}

.deleteContainer p {
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}

.deleteModalActions {
  display: flex;
  gap: 1.1rem;
  margin-top: 1rem;
}

.deleteButton,
.cancelButton {
  width: 5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.6rem;
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.deleteButton,
.cancelButton {
  border: 0.08rem solid black;
}

.deleteButton:hover,
.cancelButton:hover {
  background-color: #d1d1d1;
}

@media (min-width: 1450px) or (min-height: 600px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 1450px) or (max-height: 600px) {
  html {
    font-size: 16px;
  }
}

#root {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
